/*
	EBM Panels
*/
.ebm-panel {
	@include box-shadow-default;
	border-radius: $border-radius-sm;
	margin-bottom: rem(42px);
	background-color: white;
	> .top, > .center, > .middle, > .bottom {
		position: relative;		
	}
	> .top {
		@include flex-row-space-between;
		@include normalize-text;
		// background-color: $gray-lighter;
		border-bottom: 1px solid $gray-lightest;
		border-top: 1px solid $gray-lightest;
		[class*="col-"], .actions, .panel-title {
			@include flex-column-center;
			min-height: 28px;
		}
	}
	> .top, > .bottom {
		padding: $container-fluid;
	}
	> .center, > .middle {
		// padding: ($container-fluid * 2) 0 0; 
		&.middle-padding, &.center-padding {
			padding: $container-fluid;
		} 
	}
	> .bottom {
		border-top: 1px solid $gray-lightest;
	}
	.actions {
		text-align: right;
		nav {
			@include children-elements {
				margin-left: $container-fluid; 
			}
		}
	}
	.panel-title {
		h2 {
			font-size: $font-size-h4;
		}
	}

	.ebm-panel {
		@include box-shadow(none);
		> .center, > .middle {
			padding: 0;
		}	
		&:first-child {
			// margin-top: 28px;
		}
	}

	&.panel-table {
		table {
			margin-top: 0px;
		}
	}
}