/*
	EBM Panels
*/
.ebm-panel {
	@include box-shadow-default;
	border-radius: $border-radius-sm;
	margin-bottom: rem(42px);
	background-color: white;
	> .top, > .center, > .bottom {
		position: relative;		
	}
	> .top {
		@include normalize-text;
		background-color: $gray-lighter;
		padding: $container-fluid / 2;
		[class*="col-"] {
			@include flex-column-center;
			min-height: 24px;
		}
	}
	> .center, > .bottom {
		padding: $container-fluid;
	}
	> .bottom {
		border-top: 1px solid $gray-lightest;
	}
}