/* EBM:RESPONSIVE FONT RESIZE */
html {
  font-size: $font-size-root;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: $font-size-root - 3;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $font-size-root - 2;
  }
}