$header-height-control: 70px;
$logo-width-control: 132px;

/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {}

.site-wrapper,
.site-content {
	overflow-x: hidden;
	position: relative;
}

.header {
	@include position-fixed-top(1000);
	@include normalize-text;
	border-bottom: 1px solid $gray-lightest;
	background-color: white;
	.header-left, .header-center, .header-right {
		@include flex-column-center;
		height: $header-height-control;
	}
	.header-left, .header-right {}
	.header-left {}
	.header-center {
		text-align: center;
	}
	.header-right {
		text-align: right;
	}
	.logo { 
		img {
			width: $logo-width-control;
			height: auto;
		}
	}
}

.footer {
	@include normalize-text;
	background-color: $gray-dark;
	.row {
		> div {
			@include flex-column-center;
			min-height: $header-height-control;
		}
	}
}


// Wordpress boilerplate menus
// [id*="menu-main-menu"] {
// 	@include list-unstyled;
// 	li {
// 		margin-left: $container-fluid;
// 		display: inline-block;
// 		&:hover,
// 		&.current-menu-item {
// 			cursor: pointer;
// 			a {
// 				text-decoration: underline;
// 			}
// 		}
// 		a {
// 			@include medium;
// 			font-size: $font-size-h5;
// 		}
// 	}
// }

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}