/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {}

.site-wrapper,
.site-content {
	position: relative;
}

$header-height-control: 70px;
.header {
	border-bottom: 1px solid $gray-lightest;
	.container {
		@include flex-row-space-between;
	}
	.header-left,
	.header-center,
	.header-right {
		@include flex-column-center;
		height: $header-height-control;
	}
	.header-left,
	.header-right {
		width: 30%;
	}
	.header-left {
		
	}
	.header-center {
		text-align: center;
	}
	.header-right {
		text-align: right;
	}
	.logo {
		img {
			width: 132px;
			height: auto;
		}
	}
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}