/* 

	EBM:REF
	Mobile Menu

*/
$mobile-navbar-height: 56px; // Mobile header
.mobile-navbar {
	@include position(fixed, 0 0 null 0);
	@include flex-row-space-between;
	border-bottom: 1px solid $gray-lighter;
	height: $mobile-navbar-height;
	padding: 0 $container-fluid;
	background: white;
	z-index: 1000;
	width: 100%;
	.left,
	.right {
		@include flex-column-center;
		height: $mobile-navbar-height;
	}
	.left {}
	.right {}
	.logo {
		@include bg-img-block;
		height: $mobile-navbar-height - 7;
		width: $mobile-navbar-height - 7;
	}
	.menu-trigger {
		background-color: $brand-primary;
		height: $mobile-navbar-height - 14;
		width: $mobile-navbar-height - 14;
		font-size: $font-size-h1;
		text-align: center;
		color: white;
	}
}

.mobile-menu {
	@include transition(transform 0.2s ease-in-out);
	@include transform(translateX(100%));
	@include position(fixed, 0 0 0 null);
	padding-top: $mobile-navbar-height;
	background: $gray-lighter;
	min-height: 100%;
	z-index: 900;
	height: 100%;
	width: 100%;
	.mobile-nav-display-triggers {
		> ul {
			@include list-unstyled;
			> li {
				a {
					text-transform: uppercase;
					padding: $container-fluid;
					color: $gray-dark;
					font-size: 21px;
					display: block;
				}
				&:nth-child(odd) {
					background-color: $gray-light;
				}
				&:nth-child(even) {
					background-color: $gray-lighter;
				}
			}
		}
	}
	.mobile-nav-display {
		@include transition(transform 0.2s ease-in-out);
		@include transform(translateX(100%));
		@include position(fixed, 0 0 0 null);
		padding-top: $mobile-navbar-height;
		background: $gray-lighter;
		overflow-y: scroll;
		min-height: 100%;
		z-index: 901;
		height: 100%;
		width: 100%;
		.top {
			padding: $container-fluid;
		}
		.center {
			> ul {
				@include list-unstyled;
				li {
					a {
						padding: ($container-fluid - 2) $container-fluid;
						font-size: $font-size-base;
						text-transform: uppercase;
						color: $gray-darker;
						display: block;
						span {}
					}
					&:nth-child(odd) {
						background-color: $gray-lighter;
					}
					&:nth-child(even) {
						background-color: $gray-light;
					}
				}
			}
		}
		.bottom {}
		.back {
			display: block;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.site-wrapper {
	&.menu-on {
		.mobile-menu {
			@include transition(transform 0.2s ease-in-out);
			@include transform(translateX(0px));
		}
	}
	@for $i from 1 through 10 {
		&.display.mobile-nav-display-#{$i} {
			#mobile-nav-display-#{$i} {
				@include transition(transform 0.2s ease-in-out);
				@include transform(translateX(0px));
			}
		}
	}
}